* {
    box-sizing: border-box;
}

.container {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
    flex-grow: 1;
}

body {
    font-size: 0.9rem;
}

.main-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-white);
    text-align: left;
    width: 100%;
    max-width: 450px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.card-form-container {
    background-color: var(--dark-input);
    border-radius: 13px;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-data {
    background-color: var(--blue);
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    color: var(--text-white);
    font-size: 1rem;
}

.form-content {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.form-group label {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}

.form-group input {
    background-color: #0b121b;
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--text-white);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    width: 100%;
}

.form-buttons-container {
    background-color: var(--dark-input);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.form-buttons-container button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    width: 100%;
}

.cancel-button {
    background-color: var(--gray);
    color: var(--text-white);
}

.confirm-button {
    background-color: var(--bg-button-green);
    color: var(--text-white);
}

@media (min-width: 769px) {

    .main-title {
        font-size: 2.2rem;
        text-align: left;
        max-width: 750px;
    }

    .card-form-container {
        max-width: 750px;
    }

    .header-data p {
        font-size: 1rem;
    }

    .form-content {
        gap: 2rem;
    }

    .form-row {
        flex-direction: row;
        gap: 2rem;
    }

    .form-row .form-group.large-width {
        flex: 2;
        width: auto;
    }

    .form-row .form-group.small-width {
        flex: 1;
        width: auto;
    }

    .form-buttons-container {
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
        padding: 2rem 2rem;
    }

    .form-buttons-container button {
        width: 150px;
    }

    .cancel-button:active {
        background-color: var(--blue);
    }

    .confirm-button:active {
        background-color: var(--blue);
    }
}