.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  min-height: 80vh;
}

h1 {
  font-size: 1.5rem;
}

.products {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: auto;
}

.product-row {
  border-radius: 10px;
  width: 100%;
  background-color: var(--account-bg);
  margin-top: 0.8rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.delete-button {
  width: 1rem;
  cursor: pointer;
}

.product-img {
  width: 8vw;
}

.tittle {
  align-self: flex-start;
  font-weight: bold;
  text-align: center;
}

.tittle p:last-child {
  font-weight: 100;
}

.quantity {
  align-self: flex-start;
  font-weight: bold;
  text-align: center;
}

.quantity p:last-child {
  font-weight: 100;
}

.price {
  align-self: flex-start;
  font-weight: bold;
  text-align: center;
}

.price p:last-child {
  font-weight: 100;
}

.subtotal {
  align-self: flex-start;
  font-weight: bold;
  text-align: center;
}

.subtotal p:last-child {
  font-weight: 100;
}

.resume-products {
  background-color: var(--account-bg);
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 2rem;
  width: 78vw;
  min-height: 5vw;
  display: flex;
  gap: 0.2rem;
}

.subtittles {
  font-size: 0.5rem;
  padding-left: 1rem;
}
.results {
  font-size: 0.5rem;
}

.add-to-car:hover {
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.1);
}
.subtittles .results {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.purchase-information {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.purchase-information p {
  display: flex;
  width: 50%;
  height: 100%;
  font-size: 0.5rem;
}

.purchase-information img {
  width: 10%;
}

.button-with-price {
  justify-self: flex-end;
  padding-right: 2rem;
  width: 30vw;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-purchase {
  text-align: center;
  color: var(--text-white);
  background-color: var(--bg-color-black);
  width: 95%;
  height: 100%;
}

.add-to-car {
  text-align: center;
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-button-green);
  cursor: pointer;
}

.information {
  width: 50%;
}
@media (min-width: 1320px) {
  .subtittles {
    font-size: 2rem;
  }
  .results {
    font-size: 2rem;
  }
  .purchase-information p {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .subtittles {
    font-size: 1.1rem;
  }
  .results {
    font-size: 1.1rem;
  }
  .purchase-information p {
    font-size: 1.1rem;
  }
  .products {
    width: 90%;
  }

  .product-row {
    justify-content: space-between;
    padding-right: 10rem;
    width: 100%;
  }

  .resume-products {
    justify-content: space-between;
  }

  .results {
    flex: 2;
  }

  .product-img {
    width: 6vw;
  }
}
