@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ponnala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ponnala&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;

}
:root {
  --bg-color: #1b2838;
  --dark-blue: #171d25;
  --tron-cyan: #00ffff;
  --text-white: #ffff;
  --bg-color2: #121212;
  --bg-button: #009951;
}
body{
    overflow-x: hidden;
}
header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  border-bottom: 2px solid var(--tron-cyan);
  position: relative;
  overflow: hidden;
  min-width: 480px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.tron-grid {
  background-color: var(--bg-color);
  background-image: linear-gradient(0deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
  min-height: 100vh;
}

.brand {
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  flex: 2;
  text-align: left;
  font-weight: 300;
}

.brand a {
  transition-duration: 0.3s;
}

.brand a:hover {
  font-weight: 600;
  transition-duration: 0.3s;
}

.logo img {
  padding-left: 12px;
  margin: 8px;
  width: 3rem;
  height: auto;
  transition-duration: 0.3s;
}

.logo img:hover {
  width: 4rem;
  height: auto;
  transition-duration: 0.3s;
}

nav {
  display: flex;
  gap: 0.1rem;
  flex: 1;
  justify-content: end;
  height: 100%;
  align-items: center;
}

nav span {
  width: auto;
  margin: 5px;
}
nav span img {
  width: 3rem;
  height: auto;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
}

nav span img:hover {
  width: 4rem;
  height: auto;
  transition-duration: 0.3s;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
nav span:first-child {
  display: none;
}
/*Informacion de el articulo*/
.grid-item-info {
  font-family: "Ponnala", system-ui;
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-row: 1fr;
  padding-top: 2rem;
}
.image-and-price {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-and-price img {
  width: 80%;
  object-fit: cover;
}
.calification {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.46rem;
}
.stars {
  flex: 1;
  width: 30%;
}
.calification span {
  color: var(--text-white);
  font-size: 0.6rem;
}
.button-with-price {
  width: 11rem;
  height: 4rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: var(--text-white);
  background-color: var(--bg-color2);
  width: 95%;
  height: 100%;
}
.add-to-car {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-button);
}
.item-description {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: var(--text-white);
}
.description{
    font-size: clamp(.4rem, 3vw, 1rem);
}

.user-reviews {
  font-family: "Poppins";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#user-calification{
    margin: 0px;

}
.review-container{
    padding: 20px;
    background-color: var(--bg-color2);
    border-radius: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: end;
}
.review-date{
    font-size: .5rem;
}

.review-container .review-message{
    font-size: clamp(.3rem, 3vw, 1rem);
    text-align: start;
}