@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --bg-color: #1B2838;
    --dark-blue: #171D25;
    --tron-cyan: #00FFFF; 
}

body{
    background-color: var(--bg-color);
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    border-bottom: 2px solid var(--tron-cyan);
    box-shadow: 0 0 5px var(--tron-cyan), 0 0 10px var(--tron-cyan);
}

.tron-grid{
    background-color: var(--bg-color);
            background-image: linear-gradient(0deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px),
                              linear-gradient(90deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px);
            background-size: 50px 50px;
            min-height: 100vh;
}

.brand{
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    flex: 2;
    text-align: center;
    font-weight: 300;
}

.brand a{
    transition-duration: 0.3s;
}

.brand a:hover{
    font-weight: 600;
    transition-duration: 0.3s;
}

.logo {
    flex: 1;
}

.logo img{
    width: 90px;
    height: auto;
    margin-left: 10%;
    transition-duration: 0.3s;
}

.logo img:hover{
    width: 100px;
    height: auto;
    margin-left: 9%;
    transition-duration: 0.3s;
}

nav{
    display: flex;
    gap: 40px;
    flex: 1;
    justify-content: end;
    height: 100%;
    align-items: center;
}

nav span img{
    width: 64px;
    height: auto;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
}

nav span img:hover{
    width: 70px;
    height: auto;
    transition-duration: 0.3s;
}

nav span img:{
    width: 74px;
    height: auto;
    transition-duration: 0.3s;
}

nav span {
    width: 80px;
}

nav span:last-child{
    margin-right: 10%;
}

a{
    text-decoration: none;
    color: white;
}