@import url('global.css');

.options {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 3rem auto 10rem;
}

.options button {
    width: 100%;
    padding: 1rem;
    background-color: var(--blue-gray);
    color: var(--text-white);
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

.options button:hover{
    transform: scale(1.005);
    box-shadow: 0 0 10px var(--text-white), 0 0 15px var(--text-white);
}

@media only screen and (min-width: 481px){
    .options{
        width: 70%;
    }
}

@media only screen and (min-width: 769px){
    .options{
        width: 60%;
    }
}

@media only screen and (min-width: 1201px){
    .options{
        width: 30%;
    }
}