* {
    box-sizing: border-box;
}

.container {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

body {
    font-size: 0.8rem;
}

.main-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-white);
    text-align: center;
    width: 100%;
    max-width: 550px;
}

.address-form-container {
    background-color: var(--dark-input);
    border-radius: 13px;
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-header {
    background-color: var(--blue);
    padding: 1rem 1.5rem;
    font-weight: bold;
    color: var(--text-white);
    font-size: 1.1rem;
}

.form-content {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.form-group label {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}

.form-group input {
    background-color: #0b121b;
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--text-white);
    padding: 1rem 1rem;
    font-size: 1rem;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-row .form-group.half-width,
.form-row .form-group.quarter-width {
    width: 100%;
}

.form-buttons {
    background-color: var(--dark-input);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.form-buttons button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s;
}

.cancel-button {
    background-color: var(--gray);
    color: var(--text-white);
}

.save-button {
    background-color: var(--bg-button-green);
    color: var(--text-white);
}

@media only screen and (min-width: 769px) {
    body {
        font-size: 1rem;
    }

    .main-title {
        font-size: 2.2rem;
        text-align: left;
        max-width: 750px;
    }

    .address-form-container {
        width: 100%;
        max-width: 750px;
    }

    .form-header {
        font-size: 1.2rem;
    }

    .form-content {
        gap: 2.5rem;
    }

    .form-group label {
        font-size: 1rem;
    }

    .form-group input {
        padding: 1rem 1rem;
        font-size: 1.1rem;
    }

    .form-row {
        flex-direction: row;
        gap: 2.5rem;
    }

    .form-row .form-group.half-width {
        flex: 2;
        width: auto;
    }

    .form-row .form-group.quarter-width {
        flex: 1;
        width: auto;
    }

    .form-buttons {
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
        padding-top: 2rem;
    }

    .form-buttons button {
        width: 170px;
    }

    .cancel-button:hover {
        background-color: var(--gray);
        filter: brightness(1.2);
    }

    .save-button:hover {
        background-color: var(--bg-button-green);
        filter: brightness(1.2);
    }
}