* {
    box-sizing: border-box;
}

.container {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
    flex-grow: 1;
}

body {
    font-size: 0.9rem;
}

.main-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-white);
    text-align: left;
    width: 100%;
    max-width: 450px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.card-form-container {
    background-color: var(--dark-input);
    border-radius: 13px;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-data {
    background-color: var(--blue);
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    color: var(--text-white);
    font-size: 1rem;
}

.form-content {
    padding: 2rem 1.5rem;
    padding-bottom: 0.5675rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.review-container {
    background-color: #121212;
    border-radius: 1rem;
    padding: 3%;
}

.review-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-delete {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.delete-icon {
    cursor: pointer;
    width: 2.2rem;
}

.pedido {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pedido-texto {
    font-weight: 800;
}

.status {
    display: flex;
    background-color: #DCFCE7;
    border-radius: 10px;
    font-size: 0.725rem;
    color: #166534;
    padding: 0.325rem;
    align-items: center;
}

.check {
    width: 20px;
}

@media (min-width: 769px) {

    .main-title {
        font-size: 2.2rem;
        text-align: left;
        max-width: 1500px;
    }

    .card-form-container {
        max-width: 1500px;
    }
}