@import url('global.css');

/* TRON GRID ES LA DECORACIÓN DEL BODY*/
.tron-grid {
    background-color: var(--bg-color);
    background-image: linear-gradient(0deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
    min-height: 100vh;
}

/* ESTILOS DEL HEADER */
header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    border-bottom: 2px solid var(--tron-cyan);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    padding: 0 12px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.brand-title-desktop {
    display: none;
}

.brand-mobile {
    display: flex;
    align-items: center;
}

.brand-mobile h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

.logo {
    width: 2rem;
    height: auto;
    margin-right: 8px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    padding: 0 6px 0 0;
    margin: 0;
}

.nav-element a img {
    width: 32px;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

main {
    padding: 2rem 5%;
}

/* ESTILOS DEL FOOTER */

.site-footer {
    background-color: var(--dark-blue);
    color: var(--text-white);
    padding: 3rem 5% 2rem;
    border-top: 2px solid var(--tron-cyan);
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.footer-column {
    flex: 1;
    min-width: 220px;
}

.footer-column h4 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--tron-cyan);
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer-column .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
    text-decoration: none;
}

.footer-column .logo-container img {
    width: 3rem;
}

.footer-column p {
    font-size: 0.875rem;
    line-height: 1.6;
    color: #a7a7a7;
    margin: 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.75rem;
}

.footer-links a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 0.875rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--tron-cyan);
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.scale-on-hover {
    transition-duration: 0.3s;
}

.scale-on-hover:hover {
    transform: scale(1.15);
}

.footer-bottom {
    text-align: center;
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray);
    font-size: 0.8rem;
    color: #a7a7a7;
}

/*Componentes reutilizables entre landing y catalogo*/

.section-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.games-grid {
    display: grid;
    gap: 25px;
}

.game-card {
    aspect-ratio: 3 / 4;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.game-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--tron-cyan), 0 0 15px var(--tron-cyan);
}

.main-banner img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.4);
}

/* LANDING PAGE */

.featured-games {
    margin-top: 40px;
}

.featured-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
}

.featured-header .section-title {
    font-size: 1rem;
}

.featured-header .view-all {
    font-family: 'Lato', sans-serif;
    color: #a7a7a7;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.featured-header .view-all:hover {
    color: var(--tron-cyan);
}

.landing-grid {
    grid-template-columns: repeat(3, 1fr);
}

/* CATALOGO */
.main-catalogo {
    display: flex;
    flex-direction: column;
}

.catalogo-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.catalogo-grid .game-card{
    width: 7.25rem;
}

.featured-filters {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.featured-filters img {
    width: 43px;
    height: auto;
}

.featured-filters .section-title {
    font-size: 2.2rem;
}

.sidebar {
    display: none;
    width: 70rem;
    background-color: #171D25;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    gap: 15px;
    margin-right: 2rem;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Pagina producto */


@media only screen and (min-width: 401px) {
    .logo {
        width: 3.5rem;
        padding-left: 10px
    }

    .brand-mobile h1 {
        font-size: 1.5rem;
    }

    .nav-element a img {
        width: 36px;
    }
}

@media only screen and (min-width: 481px) {
    header {
        height: 84px;
    }

    .brand-mobile h1 {
        display: none;
    }

    .brand-mobile {
        flex: 1 1 0;
    }

    .brand-title-desktop {
        display: flex;
        flex: 1 1 0;
        justify-content: center;
    }

    .brand-title-desktop h1 {
        font-family: 'Pixelify Sans', sans-serif;
        font-size: 2rem;
        font-weight: 300;
    }

    .logo {
        width: 4.5rem;
        padding-left: 20px
    }

    nav ul {
        gap: 10px;
        padding: 0 12px 0 0;
    }

    nav {
        flex: 1 1 0;
        display: flex;
        justify-content: flex-end;
    }

    .nav-element a img {
        width: 48px;
    }

    .featured-header .section-title {
        font-size: 2.2rem;
    }

    .landing-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .catalogo-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .catalogo-grid .game-card {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {

    header {
        height: 120px;
    }

    .brand-title-desktop h1 {
        transition-duration: 0.3s;
    }

    .brand-title-desktop h1:hover {
        font-weight: 600;
        transition-duration: 0.3s;
    }

    .nav-element a img {
        width: 64px;
    }

    .nav-element a img:hover {
        width: 70px;
        transition-duration: 0.3s;

    }

    nav ul {
        gap: 40px;
    }

    .logo {
        width: 5.5rem;
        transition-duration: 0.3s;
    }

    .logo:hover {
        width: 5rem;
        transition-duration: 0.3s;
    }

    .catalogo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .catalogo-grid .game-card {
        width: 100%;
    }

    .featured-filters img {
        display: none;
    }

    .main-catalogo {
        flex-direction: row;
    }

    .sidebar {
        display: flex;
        width: 70rem;
    }
}